/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 0;
}

.main {
  background: rgb(238, 238, 238) url("../images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
}

.container {
  margin: 0 auto;
  width: 1090px;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
}

.header {
  padding-top: 21px;
  padding-bottom: 21px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__logo {
  padding-right: 81px;
}
.header__icon {
  height: 38px;
  width: 93px;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__link {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
.header__switch {
  border-radius: 25px;
}
.header__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
}
.header__submenu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-radius: 0 0 20px 20px;
}
.header__submenu-link {
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 20px;
  padding-left: 56px;
  padding-right: 55px;
}
.header__item:hover .header__submenu {
  position: relative;
  display: block;
  transition: 0.5s;
}

.line {
  width: 536px;
  margin-inline: auto;
  margin-top: 36px;
}

.football__field {
  width: 720px;
  height: 220px;
  background-color: rgb(90, 187, 88);
  border-radius: 37px;
  border: 2px rgb(0, 0, 0) solid;
  margin: 0 auto;
}

.game__container {
  position: relative;
  text-align: center;
}
.game__list {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding-bottom: 36px;
}
.game__btn {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}
.game__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgb(3, 153, 0);
  padding-bottom: 36px;
  text-align: center;
}
.game__wrapper {
  display: flex;
  flex-direction: column;
}
.game__btn-comp {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  border: none;
  cursor: pointer;
}
.game__list-total {
  position: absolute;
  top: 100px;
  right: 220px;
}
.game__total-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: rgb(0, 0, 0);
  text-align: left;
}

.randnamb__input {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  border: none;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.randnamb__input::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.randnamb__input::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.randnamb__form {
  position: relative;
}
.randnamb__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 149px;
}
.randnamb__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  text-align: right;
  color: rgb(3, 153, 0);
}
.randnamb__button {
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px;
  position: absolute;
  left: 200px;
  border: none;
  cursor: pointer;
}

.team__img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
}
.team__name {
  font-weight: 400;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.team__desc {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
.team__item {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.enternum__form {
  display: flex;
  gap: 38px;
  justify-content: center;
}
.enternum__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 36px;
}
.enternum__input {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  width: 135px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.enternum__input::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.enternum__input::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.enternum__wrapper {
  display: flex;
  justify-content: center;
}
.enternum__submit {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  border: none;
  cursor: pointer;
}

.footer__container {
  padding: 61px 59px;
  display: flex;
  justify-content: space-between;
}
.footer__icon {
  height: 70px;
  width: 165px;
}
.footer__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: rgb(0, 0, 0);
}
.footer__link {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: rgb(0, 0, 0);
}
.footer__input {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  border: none;
  outline: none;
}
.footer__input::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.footer__input::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.footer__btn {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  margin-left: 36px;
  cursor: pointer;
}
.footer__form {
  padding-bottom: 36px;
}
.footer__desc {
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 6px;
}

.dinosaur__wrapper {
  width: 720px;
  height: 241px;
  margin: 0 auto;
  cursor: pointer;
}

.years__title--size {
  font-size: 24px;
  padding-bottom: 36px;
}
.years__form {
  position: relative;
}
.years__input {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  border: none;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}
.years__input::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.years__input::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.years__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 149px;
}
.years__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  text-align: right;
  color: rgb(3, 153, 0);
}
.years__button {
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px;
  position: absolute;
  left: 200px;
  border: none;
  cursor: pointer;
}

.time__input {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  border: none;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.time__input::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.time__input::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.time__form {
  position: relative;
}
.time__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.time__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  text-align: right;
  color: rgb(0, 0, 0);
}
.time__text::before {
  content: "";
  border-bottom: 2px dotted rgb(0, 0, 0);
  width: 100px;
  height: 1px;
  display: inline-block;
  margin-right: 33px;
}
.time__button {
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px;
  position: absolute;
  left: 200px;
  border: none;
  cursor: pointer;
}

.choose__img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.choose__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px 60px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 36px;
}
.choose__item {
  width: 100px;
  height: 100px;
}
.choose__list--right {
  padding-left: 36px;
}
.choose__btn--left {
  border-radius: 20px;
  padding: 10px 20px;
  height: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 12px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.choose__btn--right {
  border-radius: 20px;
  padding: 10px 20px;
  height: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 12px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.choose__btn {
  border-radius: 20px;
  padding: 10px 20px;
  height: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 12px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}
.choose__item--right {
  padding-bottom: 20px;
}
.choose__item--left {
  padding-bottom: 20px;
}
.choose__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc__input {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  border: none;
  width: 135px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.calc__input::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.calc__input::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.calc__input-two {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  border: none;
  width: 135px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.calc__input-two::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.calc__input-two::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.calc__input-result {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  border: none;
  width: 135px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.calc__input-result::-moz-placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.calc__input-result::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.calc__btn {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 5px 10px;
  width: 27px;
  height: 25px;
  border: none;
  cursor: pointer;
}
.calc__span {
  color: rgb(255, 255, 255);
}
.calc__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.calc__btn-wrapper {
  max-width: 65px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}