
$true-color: rgba(3, 153, 0, 1);
$false-color: rgba(153, 0, 0, 1);
$font-color: rgba(0, 0, 0, 1);
$title-color: rgba(0, 0, 0, 1);
$placeholder-color: rgba(126, 126, 126, 1);
$input-bg: rgba(215, 215, 215, 1);
$ball-bg: rgba(90, 187, 88, 1);
$icon-color: rgba(255, 255, 255, 1);
$bg-color: rgba(255, 255, 255, 1);
$main-bg:rgba(238, 238, 238, 1);
$font-family: "Montserrat Alternates", sans-serif;
$modal-family: "Inter", sans-serif;