@use "../utils/variables" as *;
.football {
    
    &__field {
        width: 720px;
        height: 220px;
        background-color: $ball-bg;
        border-radius: 37px;
        border: 2px $font-color solid;
        margin: 0 auto;
    }

  
}
    
  

